@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SA52T03_SWStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .notify-badge {
            position: absolute;
            right: -5px;
            top: 1px;
            background: red;
            text-align: center;
            border-radius: 15px 15px 15px 15px;
            color: white;
            padding: 5px 7px;
            font-size: 10px;
            opacity: 0.8;
        }

        .cartimage {
            position: relative;
            padding: 0px;
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SA52T03_SWStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OrderHistory" asp-action="Index">Order History</a>
                        </li>

                        <li class="nav-item">
                            <div class="cartimage">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                                    <img src="/images/shoppingcart.png" style="width:30px; object-fit:fill;">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(@"CartCount");
                                        @if (count == null)
                                        {
                                            count = 0;
                                        }
                                        <div id="shoppingCartCount">
                                            @if (count > 0)
                                            {
                                                <span class="notify-badge">@count</span>
                                            }
                                        </div>
                                    }
                                </a>
                            </div>
                        </li>


                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Product Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Category">Category</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Product">Product</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SA52T03_SWStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
